*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background: radial-gradient(ellipse at bottom, #5f43b2 0%,  #000000 100%);
}
header{
    width: 100%;
}

.logo img{
    height: 90px;
    stroke: transparent;
}

.navbar-nav .nav-link {
    color: white;
    font-size: x-large;
    font-weight: 550;
}

.navbar-nav .nav-link:hover{
    color: #917cd1;
}

.nav-link, .login{
    margin-right: 60px;
}

  .progress-container {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}
.progress-handle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #4caf50;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);
    cursor: pointer;
}
#budgetAmount {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}