*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background: radial-gradient(ellipse at bottom, #5f43b2 0%,  #000000 100%);
}
header{
    width: 100%;
}

.logo img{
    height: 90px;
    stroke: transparent;
}

.navbar-nav .nav-link {
    color: white;
    font-size: x-large;
    font-weight: 550;
}

.navbar-nav .nav-link:hover{
    color: #917cd1;
}

.nav-link, .login{
    margin-right: 60px;
}

.titulo-text{
color: #5f43b2;
font-size:200%;

}

.col img
{
   width: 100%;
    height: auto;
    margin: 0 auto;
}

.col h3{
    font-weight: 700;
}

section{
    margin-top:  3%;;
}
* {
    box-sizing: border-box;
    line-height: 1.5;
  }
  .carta img {
    height: 285px;
  }
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .carta {
    position: relative;
    background-color:#333;
    width: 330px;
    height: 50vh;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 25px 100px 25px;  }
  .card__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }
  .card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
  }
  .card__image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1.4s forwards;
  }
  .card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }
  .card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
  }
  .card__svg {
    position: absolute;
    left: 0;
    top: 115px;
  }
  @keyframes LineFadeIn {
    0% {
      opacity: 0;
      d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
      stroke: #fff;
    }
    50% {
      opacity: 1;
      d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
      stroke: #888BFF;
    }
    100% {
      opacity: 1;
      d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
      stroke: #545581;
    }
  }
  @keyframes ContentFadeIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes ImageFadeIn {
    0% {
      transform: translate(-0.5rem, -0.5rem) scale(1.05);
      opacity: 0;
      filter: blur(2px);
    }
    50% {
      opacity: 1;
      filter: blur(2px);
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
      filter: blur(0);
    }
  }

  .info{
        text-align: center;
        text-align: justify;

}

  .inicios{
    margin-top: 5rem;
}

.empresa {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 20Vh;
}

.vym{
    width: 500px;
  height: 300px;
  margin: auto;  
  text-align: justify;
}

.s3 p {
color: black;
font-size: larger; 
}
.s3 h2 {
    color: white;
    }

    .s4 img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .mb-1 {
        margin-bottom: 0.25rem!important;
    }
    .h5, h5 {
        font-size: 1.25rem;
    }
    .s4 a {
    text-decoration:none;    
    }
    .team-style07 {
        text-align: center;
        padding: 30px;
        border-radius: 15px;
        transition: all .3s ease-in-out;
    }
    
    .team-style07:hover {
        background: #333
    }

    .team-style07 p {
    color: transparent;
    }
    
    .team-style07:hover h3 a,
    .team-style07:hover p {
        color: #fff
    }
    
    .team-style07 .team-thumb {
        position: relative
    }
    
    .team-style07 .team-thumb .team-social {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0
    }
    
    .team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(1) {
        left: 40px;
        position: absolute;
        bottom: 0;
        z-index: 10;
        opacity: 1;
        transition: all .4s ease-in-out 0s
    }
    
    .team-style07 .team-thumb .team-social .styled-icons li:nth-child(1) {
        position: absolute;
        opacity: 0;
        left: -10px;
        bottom: -20px;
        z-index: 10;
        transition: all .3s ease-in-out
    }
    
    .team-style07 .team-thumb .team-social .styled-icons li:nth-child(2) {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -40px;
        transition: all .3s ease-in-out
    }
    
    .team-style07 .team-thumb .team-social .styled-icons li:nth-child(3) {
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: -20px;
        transition: all .3s ease-in-out
    }
    
    .team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(3) {
        position: absolute;
        right: 40px;
        bottom: 0;
        opacity: 1;
        transition: all .4s ease-in-out 0s
    }
    
    .team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(2) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        opacity: 1;
        transition: all .5s ease-in-out 0s
    }
    
    .team-style07 .team-thumb .team-social .styled-icons li a {
        background: #3457f1;
        color: #fff;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: none;
        font-size: 16px;
        transition: all .3s ease-in-out
    }
    .mb-1-9, .my-1-9 {
        margin-bottom: 1.9rem;
    }
    
    .styled-icons a {
        border: 2px solid transparent;
        color: #333;
        display: inline-block;
        font-size: 16px;
        height: 36px;
        line-height: 2;
        margin-right: 4px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 36px;
        transition: all .2s ease;
        border-radius: 50%
    }
    
    .styled-icons li {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 0;
        padding-left: 0 !important
    }
  
  footer{
    position: absolute;
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--dark);
      color: white;
      background-color: #121212;
  }
  
  .copyright-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .copyright{
      font-size: 12px;
      opacity: 0.7;
      font-weight: 400;
      padding: 10px 0;
  }
  
  .footer-menus{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 40%;
  }
  
  .footer-container{
      height: fit-content;
      width: 100%;
      padding: 3rem 6rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  .footer-content-container{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
  }
  
  footer .website-logo{
      margin-bottom: 1.2rem;
      font-size: calc(1vw + 20px);
  }
  
  .footer-info, .menu-item-footer{
      margin: 0.2rem 0;
      opacity: 0.7;
      color: white;
      text-decoration: none;
      transition: 0.5s;
  }
  
  .menu-item-footer:hover{
      opacity: 1;
  }
  
  .menu-title{
      font-size: var(--medium-text-font);
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
  }
  
  .social-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 100%;
  }
  
  .social-link{
      height: 100%;
      width: 30px;
      background-image: url(img/FacebookBlanco.png);
      background-size: 70%;
      background-position: center;
      margin-right: 1rem;
      background-repeat: no-repeat;
  }
  
  .social-link:hover{
      opacity: 0.7;
  }
  
  footer .social-link:nth-of-type(2){
      background-image: url(img/TwitterBlanco.png);
  }
  
  footer .social-link:nth-of-type(3){
      background-image: url(img/InstagramBlanco.png);
  }
  
  
  
  @media (max-width: 768px){
      
      .footer-container{
          padding: 2rem;
          flex-direction: column;
      }
  
      .footer-content-container{
          width: 100%;
          padding: 2rem 0;
          border-bottom: 1px solid #2A2A2A;
          justify-content: center;
          align-items: center;
      }
  
      .footer-content-container:nth-of-type(1){
          align-items: flex-start;
      }
      .footer-content-container:nth-of-type(3){
          border-bottom: none;
          padding-bottom: 0;
      }
  
      .footer-menus{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          border-bottom: 1px solid #2A2A2A;
      }
  
      .footer-menus .footer-content-container:nth-of-type(1){
          width: 45%;
          align-items: flex-start;
          border-bottom: none;
      }
      .footer-menus .footer-content-container:nth-of-type(2){
          width: 45%;
          align-items: flex-start;
          border-bottom: none;
      }
  }
  